:root {
	--lime-green: hsl(163, 72%, 41%);
	--bright-red: hsl(356, 69%, 56%);
	--facebook: hsl(208, 92%, 53%);
	--twitter: hsl(203, 89%, 53%);
	--instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
	--youtube: hsl(348, 97%, 39%);
	--dark-toggle-bg: linear-gradient(
		to right,
		hsl(210, 78%, 56%),
		hsl(146, 68%, 55%)
	);
	--light-toggle-bg: hsl(230, 22%, 74%);
}

/* Theme colors */
.dark-theme {
	--bg: hsl(230, 17%, 14%);
	--bg-pattern: hsl(232, 19%, 15%);
	--card-bg: hsl(228, 28%, 20%);
	--text-number: hsl(0, 0%, 100%);
	--text: hsl(228, 34%, 66%);
}

.light-theme {
	--bg: hsl(0, 0%, 100%);
	--bg-pattern: hsl(225, 100%, 98%);
	--card-bg: hsl(227, 47%, 96%);
	--text-number: hsl(230, 17%, 14%);
	--text: hsl(228, 12%, 44%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*  */
body {
	position: relative;
	height: 100%;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: var(--text);
	background-color: var(--bg);
}

body::before {
	content: '';
	position: absolute;
	height: 25%;
	width: 100%;
	background-color: var(--bg-pattern);
	border-radius: 0 0 2em 2em;
	z-index: -1;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em 2em;
}

/* Let's go to MAIN🚢 */
header {
	display: flex;
	flex-direction: column;
}

header .title {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid currentColor;
	line-height: 2em;
}

.title h1 {
	color: var(--text-number);
}

/* THE HARDEST PART - THEME SWITCH TOGGLE */
.toggle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5em;
}

.theme-toggle {
	position: relative;
	width: 4.1em;
	height: 2em;
	background: var(--toggle-bg);
	cursor: pointer;
	appearance: none;
}

.theme-toggle::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 1em;
	background: var(--dark-toggle-bg);
	transition: all 3ms ease;
}

.theme-toggle:checked::before {
	background: var(--light-toggle-bg);
}

.theme-toggle::after {
	content: '';
	position: absolute;
	top: 3px;
	left: 5px;
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
	background-color: var(--bg);
	transition: all 300ms ease;
}

.theme-toggle:checked::after {
	left: 55%;
}

/* GRID TIME! */
main .dashboard {
	display: grid;
	gap: 2em;
}

.dashboard-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 1em;
	width: 300px;
	padding: 1.5em;
	border-radius: 0 0 0.35em 0.35em;
	background-color: var(--card-bg);
}

.dashboard-card::before {
	content: '';
	position: absolute;
	top: -0.35em;
	border-radius: 0.5em 0.5em 0 0;

	width: 100%;
	height: 0.35em;
}

.dashboard-facebook::before {
	background-color: var(--facebook);
}
.dashboard-twitter::before {
	background-color: var(--twitter);
}
.dashboard-instagram::before {
	background: var(--instagram);
}
.dashboard-youtube::before {
	background-color: var(--youtube);
}

.followers {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0;
}

.followers .followers-number {
	font-size: 3.5rem;
	color: var(--text-number);
}

.followers p {
	font-weight: 400;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

.stats,
.user {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.stats {
	color: var(--lime-green);
}

.stats.stats-down {
	color: var(--bright-red);
}

/* OVERVIEW SECTION */
.overview {
	display: flex;
	flex-direction: column;
	margin: 2.5em 0;
}

.overview h2 {
	color: var(--text-number);
	font-size: 1.75rem;
}

.overview-cards {
	display: grid;
	gap: 2em;
	margin: 2em 0;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.5em;
	min-width: 300px;
	padding: 1.5em;
	background-color: var(--card-bg);
	border-radius: 0.35em;
}

.bottom p {
	color: var(--text-number);
	font-size: 2.5em;
}

.top,
.bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

/* MEDIA QUERIES */
@media (min-width: 876px) {
	.dashboard,
	.overview-cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1350px) {
	.dashboard,
	.overview-cards {
		grid-template-columns: repeat(4, 1fr);
	}
}
